<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'book_slot' %}">
        {% csrf_token %}

        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="date" name="date" id="datePicker">

        <div id="timeSlots"></div>

        <!-- Hidden input to store the selected time -->
        <input type="hidden" name="time" id="selectedTime">

        <button type="submit">Add Customer</button>
    </form>

    <script src="../static/js/main.js"></script>
</body>
</html>